# BASE DE DATOS (MongoDB)
MONGODB_URL=
# Ejemplo:
# MONGODB_URL=mongodb+srv://usuario:password@cluster.mongodb.net/tuDB

# CORREO (NodeMailer - Gmail)
EMAIL_USER=
EMAIL_PASS=
# Ejemplo:
# EMAIL_USER=correo@gmail.com
# EMAIL_PASS=contraseña_de_aplicacion