<div class="container mt-5">
  <div class="row">
    <!-- ngFor para iterar sobre los talleres -->
    <div class="col-md-4" *ngFor="let taller of listTaller">
      <div class="card">
        <!-- Suponiendo que fotoResponsableTaller es una URL de imagen -->

        <img
          src="{{ taller.fotoResponsableTaller }}"
          class="img-fluid"
          style="max-height: 100px; max-width: 100%; object-fit: contain"
          alt="Foto del responsable del taller"
        />
        <div class="card-body">
          <h5 class="card-title">{{ taller.nombreTaller }}</h5>
          <p class="card-text">
            <strong>Responsable:</strong> {{ taller.nombreResponsable }}<br />
            <strong>Experiencia laboral del reponsable:</strong>
            {{ taller.experienciaResponsableTaller }} <strong>Fecha:</strong>
            {{ taller.fechaTaller | date: "mediumDate" }}<br />
            <strong>Lugar:</strong> {{ taller.lugarTaller }}<br />
          </p>
          <p *ngIf="taller.cupoTaller > 0">
            <strong>Cupo:</strong> {{ taller.cupoTaller }}
          </p>
          <p *ngIf="taller.cupoTaller == 0" style="color: red">Cupo completo</p>

          <button
            *ngIf="taller.cupoTaller > 0"
            (click)="seleccionarTaller(taller._id)"
            class="btn btn-primary"
          >
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
