<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <form
            [formGroup]="conferenciaForm"
            (ngSubmit)="registrarConferencia()"
          >
            <!-- Nombre de la conferencia -->
            <div class="mb-3">
              <label for="nombreConferencia" class="form-label"
                >Nombre de la Conferencia</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="nombreConferencia"
                id="nombreConferencia"
                required
              />
              <div
                class="text-danger"
                *ngIf="
                  conferenciaForm
                    .get('nombreConferencia')
                    ?.hasError('required') &&
                  conferenciaForm.get('nombreConferencia')?.touched
                "
              >
                <span>El nombre de la conferencia es obligatorio</span>
              </div>
            </div>

            <!-- Nombre del Conferencista -->
            <div class="mb-3">
              <label for="nombreConferencista" class="form-label"
                >Nombre del Conferencista</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="nombreConferencista"
                id="nombreConferencista"
                required
              />
            </div>

            <!-- Fecha de la conferencia -->
            <div class="mb-3">
              <label for="fechaConferencia" class="form-label">Fecha</label>
              <input
                type="date"
                class="form-control"
                formControlName="fechaConferencia"
                id="fechaConferencia"
                required
              />
            </div>

            <!-- Lugar de la conferencia -->
            <div class="mb-3">
              <label for="lugarConferencia" class="form-label">Lugar</label>
              <input
                type="text"
                class="form-control"
                formControlName="lugarConferencia"
                id="lugarConferencia"
                required
              />
            </div>

            <!-- Cupo de la conferencia -->
            <div class="mb-3">
              <label for="cupoConferencia" class="form-label">Cupo</label>
              <input
                type="number"
                class="form-control"
                formControlName="cupoConferencia"
                id="cupoConferencia"
                required
              />
            </div>

            <!-- Foto del Conferencista -->
            <div class="mb-3">
              <label for="fotoConferencista" class="form-label"
                >Foto del Conferencista</label
              >
              <input
                type="file"
                class="form-control"
                (change)="onFileSelected($event)"
                formControlName="fotoConferencista"
                id="fotoConferencista"
                accept="image/*"
              />
            </div>

            <!-- Experiencia del Conferencista -->
            <div class="mb-3">
              <label for="experienciaConferencista" class="form-label"
                >Experiencia Laboral del Conferencista</label
              >
              <textarea
                class="form-control"
                formControlName="experienciaConferencista"
                id="experienciaConferencista"
                rows="3"
              ></textarea>
            </div>

            <!-- Botón para registrar la conferencia -->
            <div class="button-container">
              <button
                type="submit"
                [disabled]="conferenciaForm.invalid"
                class="btn btn-primary"
              >
                Registrar Conferencia
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
